<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ZLapp.LockTask">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">
		<uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
		
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".QsLock"
            android:icon="@drawable/ic_cellphone_lock"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter
				android:exported="true">
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />

    </application>

</manifest>
